apipkg==1.4
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
DateTime==4.2
execnet==1.4.1
future==0.16.0
httplib2==0.10.3
idna==2.6
oauth2==1.9.0.post1
oauthlib==2.0.6
pep8==1.7.0
psycopg2==2.7.3.2
py==1.4.34
pytest==3.2.2
pytest-cache==1.0
pytest-pep8==1.0.6
PyTumblr==0.0.7
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
spotipy==2.4.4
tornado==4.5.2
urllib3==1.22
wikipedia==1.4.0
zope.interface==4.4.3
